body {
  color:#333;
  font-family: Verdana, sans-serif;
  /* margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px; */
  margin:0;
}

header{
  background-color: #efefef;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container{
  /* background-color: pink; */
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  /* marginをautoにすることで、header部分の左右のmarginの広さを均等にする。 */
  display: flex;
  /* ↑アイコンとinfoを横並びにするプロパティ */
  align-items: center;
}

.icon{
  /* background-color: skyblue; */
}

.icon img{
  /* border-radius: 20px; */
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color:white;
}


.info{
  /* background-color: salmon; */
  margin-left: 16px;
 
  
}

.info h1{
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.info p{
  margin:0;
  margin-bottom: 16px;
  /* ↑marginを一旦ゼロにした後で、bottomだけ16pxのmarginを作成する。 */
}

.info ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.info ul li {
  margin-right: 8px;
}

.works{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
/* ↓「>」のマークを使用する事で、worksの直下のh1タグだけを指定することができる。 */
.works > h1{
  font-weight: normal;
  font-size: 24px;
  text-align:center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.works > section{
  margin-bottom: 60px;
}

.works > section > h1{
  font-weight: normal;
}

.works p {
  line-height: 1.8;
  /* ↑works のpの部分の行間を文字の1.8倍の大きさにしなさいというコード */
}

footer p{
  text-align: center;
  font-size: 14px;
  margin-bottom: 60px;
  color:gray;
}